<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>

<form th:method="patch" th:action="@{/edit}" th:object="${book}">
    <h3>Book Info:</h3>

    <label> id:</label>
    <td th:text="${book.id}"> 1</td>
    <br>
    <br>
    <label for="title">title:</label>
    <input id="title" name="title" type="text" th:value="${book.title}"/>
    <br>
    <br>
    <label for="author">author:</label>
    <select name="author" id="author">
        <option th:each="author : ${authors}" th:text="${author.fullName}" th:value="${author.id}"
                th:selected="${author.id == book.getAuthor().id}"/>
    </select>
    <br>
    <br>
    <label for="genre">genre:</label>
    <select name="genre" id="genre">
        <option th:each="genge : ${genres}" th:text="${genge.name}" th:value="${genge.id}"
                th:selected="${genge.id == book.getGenre().id}"/>
    </select>
    <br>
    <br>
    <label>comments:</label>
    <tr th:each="com, itemStat : *{comments}">
        <td>
            <li>
                <input th:field="*{comments[__${itemStat.index}__].comment}"/>

            </li>
        </td>
        <br>
    </tr>
    <button type="submit"> Save</button>
</form>
</body>
</html>